@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030303;
  color: #fdfdfe;
  letter-spacing: -0.03em;
  font-weight: 300;
  overflow-x: hidden;
}

[data-type="texture"] {
  background-image: url("/texture.png");
  background-position: left;
  background-size: 11rem;
}

[data-type="texture-wrapper"] {
  background-image: url("/gradient.svg");
  background-size: cover;
  background-position: left center;
}

[data-type="texturized"] {
  background-image: url("/texture.png");
  background-position: left;
  background-size: 5rem;
}

#MagicModalBody {
  @apply rounded-2xl;
}

[id*="beacon-alert-wrapper"] {
  @apply fixed z-[9999999991];
}
