@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030303;
  color: #fdfdfe;
  letter-spacing: -0.03em;
  font-weight: 300;
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
button {
  font-weight: 400;
}

strong {
  font-weight: 500;
}

[data-type="texture"] {
  background-image: url("/texture.png");
  background-position: left;
  background-size: 11rem;
}

[data-type="texture-wrapper"] {
  background-image: url("/gradient.svg");
  background-size: cover;
  background-position: left center;
}

[data-type="texturized"] {
  background-image: url("/texture.png");
  background-position: left;
  background-size: 5rem;
}

html[style*="overflow"] {
  overflow: unset !important;
}

html[style*="overflow"] body {
  overflow: hidden;
}

h1,
h2 {
  letter-spacing: -0.05em;
}
